{% extends 'layouts/base.html.twig' %}

{% block title %} Welcome - Page{% endblock %}

{% block main %}

    <main>
        <p>Congratulations! You've successfully created your first page with {{title}} Bframe.</p>
        <p>This is a simple welcome page to get you started. Explore Bframe and build something amazing!</p>
         <section>
        <p>This page uses Twig for rendering pages. You can switch to normal PHP rendering by setting 'use' to false in the config/pages.php file, and create your pages in resources/pages/php.</p>
    </section> 
    </main>

   
{% endblock %}